<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<title>Welcome to Online Library</title>
</head>

<h1>Welcome!</h1>
  <p>
    Use the above navigation bar to view the Online Libraries and more connected to our network!
  </p>

<div id="welcome" style="display: block"></div>
